#head {
    text-align: center;
    background: linear-gradient(#3271a8 0%, #540006 100%);
}

body {
    text-align: center;
    background-color: blue;
}

#body {
    text-align: center;
    background-color: lightcyan;
}

img {
    height: 400;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
    text-align: center;
}

.links {
    font-family: 'Staatliches', cursive;
    list-style: none;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: deepskyblue;
    font-size: 25px;
}
